.activity {
    width: 300px;
    height: 60px;
    background-color: white;
    border: 1px black solid;
    margin: 15px;
    padding: 10px;
    color: black;
    box-shadow: 2px 2px 5px black;
}

.activity-desc {
    height: 60px;
    display: inline-flex;
}

.activity-name {
    margin-right: 10px;
}

.activity-time {
    margin-left: 10px;
}

#removeActivity{
    height: 25px;
    border: 1px solid black;
    padding: 2px;
    background-color: #f0f0f0;
    margin-left: 10px;

}

#removeActivity:hover {
    cursor: pointer;
    background-color: #61dafb;
}