.activity {
    /*width: 400px;*/
    /*height: 60px;*/
    /*!*background-color: white;*!*/
    /*!*border: 1px black solid;*!*/
    /*margin: 15px;*/
    /*padding: 10px;*/
    /*color: black;*/
    /*box-shadow: 2px 2px 5px black;*/
}

.activity-desc {
    height: 60px;
    display: inline-flex;
}

.activity-name {
    margin-right: 10px;
}

.activity-time {
    margin-left: 10px;
}

#removeActivity{
    height: 25px;
    border: 1px solid black;
    padding: 2px;
    background-color: #f0f0f0;
    margin-left: 10px;
}

#updateActivity {
    height: 25px;
    border: 1px solid black;
    padding: 2px;
    background-color: #f0f0f0;
    margin-left: 10px;
}

#updateActivity:hover {
    cursor: pointer;
    background-color: #61dafb;
}

#removeActivity:hover {
    cursor: pointer;
    background-color: #61dafb;
}

#table-activities {
    border: 1px solid black;
    background-color: white;
    margin: 20px auto auto;
    border-collapse: collapse;
    border-style: hidden;
}

th {
    background-color: #e9e9f1;
}

td, th {
    border: 2px solid black;
    padding: 14px;
}

#is-completed-checkbox {
    width: 25px;
    margin: 10px 30px 10px 30px;
}
