
.button-sm {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    padding: 2px;
    background-color: #f0f0f0;
    margin-left: 10px;
}

.button-sm:hover {
    cursor: pointer;
    background-color: #61dafb;
}

.table-cst {
    background-color: white;
    margin: 20px auto auto;
    border-collapse: collapse;
    border-style: hidden;
}

th {
    background-color: #e9e9f1;
}

td, th {
    border: 2px solid black;
    padding: 14px;
}

#is-completed-checkbox {
    width: 25px;
    margin: 10px 30px 10px 30px;
}

#no-activity-msg {
    text-align: center;
}
