.content {

}

.activities {
    color: #282c34;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table-cst {
    background-color: white;
    margin: 20px auto auto;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 1px 1px 3px black;
}

th {
    background-color: #e9e9f1;
}

td, th {
    border: 2px solid black;
    padding: 14px;
}

#noted {
    display: flex;
}

#noted-buttons {
    width: 350px;
    height: 700px;
    border: 1px solid black;
    background-color: #c1dede;
    margin-left: 20px;
}

#noted-content {
    width: 1500px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.noted-category {
    border: 1px solid black;
    background-color: #c1dede;
    box-shadow: 1px 1px 2px black;
    margin: 0px 20px 20px 40px;
    height: max-content;
}

.noted-activity {
    background-color: #ada8a8;
    height: 50px;
    display: flex;
    padding-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px #3f5d5d;
    color: white;
    text-shadow: 1px 2px #000;

}

.noted-category-header {
    background-color: #8a8a8a;
    box-shadow: 1px 1px 3px #3f5d5d;
    height: 50px;
    display: flex;
    padding: 10px 10px 10px 50px;
}

#noted-category-name {
    color: white;
    text-shadow: 1px 2px #000;
    width: 150px;
    padding-right: 120px;
}

#noted-category-utils {
    display: flex;
    align-items: center;
    width: 20px;
    height: 50px;
}

.noted-btn-sm {
    height: 25px;
    border: 1px solid black;
    background-color: #6f6fda;
    color: white;
    box-shadow: 1px 1px 1px black;
    margin: 5px;
}

.noted-btn-sm:hover {
    cursor: pointer;
    background-color: #61dafb;
}


#planned-activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #282c34;
    height: 600px;
}

#planned-header {
    background-color: #c1dede;
    height: 45px;
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
    padding-top: 20px;
}

