.content {

}

.activities {
    color: #282c34;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table-cst {
    background-color: white;
    margin: 20px auto auto;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 1px 1px 3px black;
}

th {
    background-color: #e9e9f1;
}

td, th {
    border: 2px solid black;
    padding: 14px;
}

#statistics {

}

#noted {
    display: flex;
}

#noted-buttons {
    border: 1px solid black;
    width: 350px;
    height: 1000px;
}

#noted-content {
    border: 1px solid black;
    width: 1500px;
    height: 700px;
    display: flex;
}

.noted-category {
    border: 1px solid black;
    width: 400px;
    height: 250px;
}