body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bdd3ef;
  /*background-image: linear-gradient(#92bdec, #bdd3ef);*/
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  display: block;
  width: 24rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 3px black;
}

button {
  font-size: medium;
}
button:hover {
  background-color: #c5c5c5;
}


.button-sm {
  height: 30px;
  width: 120px;
  border: 1px solid black;
  padding: 2px;
  background-color: #6f6fda;
  color: white;
  margin-left: 10px;
  box-shadow: 1px 1px 1px black;
}

.button-sm:hover {
  cursor: pointer;
  background-color: #61dafb;
}

.button-lg {
  border: 1px solid black;
  height: 40px;
  padding: 10px 40px 10px 40px;
  background-color: #6f6fda;
  color: white;
  box-shadow: 1px 1px 1px black;
}

.button-lg:hover {
  cursor: pointer;
  background-color: #61dafb;
}

.table-cst {
  background-color: white;
  margin: 20px auto auto;
  border-collapse: collapse;
  border-style: hidden;
}

th {
  background-color: #e9e9f1;
}

td, th {
  border: 2px solid black;
  padding: 14px;
}

#is-completed-checkbox {
  width: 25px;
  margin: 10px 30px 10px 30px;
}

#no-activity-msg {
  text-align: center;
}


