#menu {
    background-color: white;
    height: 65px;
    padding-left: 60px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px black;
}

.menu-element {
    float: left;
    padding: 10px;
    font-weight: bold;
}

.menu-element:hover {
    cursor: pointer;
    background-color: #61dafb;
}

#logout {
    text-align: right;
    margin-right: 30px;
    padding: 20px;
    font-weight: bold;
}